<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>MyServlets.doSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProducts</servlet-name>
        <servlet-class>MyServlets.UpdateProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductToDB</servlet-name>
        <servlet-class>MyServlets.UpdateProductToDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Details</servlet-name>
        <servlet-class>MyServlets.Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartInsert</servlet-name>
        <servlet-class>CartConfig.CartInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDelete</servlet-name>
        <servlet-class>MyServlets.CartDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartUpdate</servlet-name>
        <servlet-class>MyServlets.CartUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartUpdateToDB</servlet-name>
        <servlet-class>MyServlets.CartUpdateToDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/doSignup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pro</servlet-name>
        <servlet-class>AdminProduct.addProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pro</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProducts</servlet-name>
        <url-pattern>/UpdateProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductToDB</servlet-name>
        <url-pattern>/UpdateProductToDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartInsert</servlet-name>
        <url-pattern>/CartInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDelete</servlet-name>
        <url-pattern>/CartDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartUpdate</servlet-name>
        <url-pattern>/CartUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartUpdateToDB</servlet-name>
        <url-pattern>/CartUpdateToDB</url-pattern>
    </servlet-mapping>
</web-app>
